.content
  pre, pre[class*="language-"]
    
    code
      color #000
      padding 0
      background-color transparent
      border-radius 0
	  
h2,h3,h4,h5,h6 
  font-weight 400
	
.content > ul 
  list-style none

.content > ul > li::before 
  content "\25AA"
  font-size 20px
  margin-right 10px
  color #ba3925